<div *ngIf="selectedMonkey">
  <h2>{{ selectedMonkey.name | uppercase }}'s Details</h2>
  <div><span>id: </span>{{ selectedMonkey.id }}</div>
  <div>
    <label
      >name:
      <input [(ngModel)]="selectedMonkey.name" placeholder="name" />
    </label>
  </div>
</div>

<h2>Code Monkeys:</h2>
<ul class="monkeys">
  <li
    *ngFor="let monkey of monkeys"
    (click)="onSelect(monkey)"
    [class.selected]="monkey === selectedMonkey"
  >
    <span class="badge">{{ monkey.id }}</span> {{ monkey.name }}
  </li>
</ul>
